button {
  max-width: 100px;
  border: 0;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 18px;
}

.button_primary {
  background-color: #2D9CDB;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.button_secondary {
  background-color: #ddd;
  border-radius: 5px;
  padding: 10px 15px;
  min-width: 200px;
  border: 0;
  outline: 0;
  cursor: pointer;
}