table {
  border-collapse: collapse;
  text-align: left;
  margin: 30px 0;
  @media (max-width: 750px) {
    display: none
  } 
}

thead {
  background-color: #2D9CDB;
  color: #fff;
}
  
td,
th {
  padding: 10px;
}

tr:hover {
  background-color: #eee;
  color: #333;
}
  