body {
  background: #fff;
  padding: 0;
  margin: 0;
  font: 18px 'Roboto', sans-serif;
  color: #333;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
}

p {
  color: #555;
  line-height: 30px;
}

a {
  cursor: pointer;
  color: #2D9CDB;
  border-bottom: 2px solid transparent;
  text-decoration: none;
}

a:hover {
  opacity: .8;
}

iframe {
  width: 80vw;
  height: 500px;
  margin: 2rem auto;
}
  



  
