// Site navigation component

#site_navigation {
  @include flexbox(row, center, center);
  background-color: rgba(0, 0, 0, .9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  max-height: 50px; 
  @media (max-width: 450px) {
    bottom: 0;
    top: unset;
  }

  ul {
    @include flexbox(row, space-between, center);
    max-width: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
    
  li {
    padding: 10px 0;
    &:hover {
      border-bottom: 0;
      color: $color_hover;
    } 
    @media (max-width: 525px) {
      margin: auto 2.5vw;
      padding: 10px 5px;
    }
  }
    
  a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    @media (max-width: 525px) {
      font-size: 14px;
    }
  }
    
  .active,
  .active:hover,
  .active:active {
    border-bottom: 2px solid $color_primary;
  }
}

// PageWrapperWide

.page_wrapper_wide {
  @include flexbox(column, flex-start, flex-start);
  margin: 100px auto;
  width: 90vw;
  max-width: 1000px;
  @media (max-width: 450px) {
    margin-top: 25px;
  }

  .page_title {
    font-size: 48px;
    width: 100%;
    border-bottom: 5px solid $color_primary;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
}

// PageWrapperSlim 

.page_wrapper_slim {
  @extend .page_wrapper_wide;
  width: 90vw;
  max-width: 700px;

  .date {
    font-size: 18px;
    margin-top: 10px;
    color: $color_paragraph;
  }
}
  
// Form 

#contact_form {
  @extend .hero_wrapper;
  @include flexbox(column, flex-start, flex-start);
  background-color: transparent;
  padding: 0.5rem 2rem;
  @media (max-width: 1325px) {
    width: 100%;
    align-items: flex-start;
    padding: 0;
  }
  @media (max-width: 750px) {
    margin-bottom: 100px;
  }

  input {
    background-color: transparent;
    padding: 8px;
    font-size: 22px;
    font-weight: 200;
    color: $color_hover;
    width: 500px;
    max-width: 30rem;
    margin: 15px 0;
    border: 0;
    border-bottom: 2px solid $color_primary;
    outline: 0;
    letter-spacing: 1.5px;
    border-radius: 0;
    &:focus {
      outline: none;
      border-bottom : .1rem solid $color_hover;
    }
    &::placeholder {
      color: $color_hover;
      font-weight: 200;
    }
    @media (max-width: 1325px) {
      width: 70vw;
    } 
  }
      
  textarea {
    @extend input;
    height: 75px;
    @media (max-width: 1325px) {
      width: 70vw;
    }
  }
  .button_primary {
    max-width: 150px;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 0;
    outline: 0;
    border-radius: $radius;
    background-color: $color_primary;
    color: $color_background;
  }
}

// Animations 

#animation-test {
  @include flexbox(row, flex-start, center);
  flex-wrap: wrap;
  background-color: darken($color_primary, 50%);

  .animation-1 {
  height: 400px;
  width: 400px;
  border: 20px solid darken($color_primary, 30%);
  margin: 100px 20px;
  background-color: darken($color_primary, 100%);
  color: $color_background;
  @include flexbox(column, center, center);
  &:hover {
    background-color: #111;
    border: 20px solid $color_primary;

    h2 {
      color: $color_background;
      visibility: visible;
      padding: 20px;
      text-align: center;
    }

    img {
      color: $color_background;
      visibility: hidden;
    }
  }

  h2 {
      color: $color_background;
      visibility: hidden;
    }
}

.animation-2 {
  @extend .animation-1;
  height: 500px;
  border: 20px solid $color_primary;
  &:hover {
    background-color: $color_primary;
    color: $color_background;
    border: 20px solid darken($color_primary, 100%);
  }
}


.animation-3 {
  @extend .animation-1;
  border: 10px solid darken($color_primary, 50%);
}
}


