// Site navigation component

#site_navigation {
  @include flexbox(row, center, center);
  padding: 5px 0;
  background-color: rgba(0, 0, 0, .9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  ul {
    @include flexbox(row, flex-start, flex-start);
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
    
  li {
    padding: 10px 20px;
    margin: auto 30px;
    &:hover {
      border-bottom: 0;
      color: $color_hover;
    } 
    @media (max-width: 525px) {
      margin: auto 2.5vw;
      padding: 10px 5px;
      font-size: 14px;
    }
  }
    
  a {
    color: #fff;
    text-decoration: none;
  }
    
  .active,
  .active:hover,
  .active:active {
    border-bottom: 2px solid $color_primary;
  }
}

// ContentWrapper Component

.content_wrapper {
  @include flexbox(column, flex-start, center);
  margin: 100px 10vw 0 10vw;
  @media (max-width: 450px) {
    margin-top: 100px;
  }

  .page_title {
    width: 80vw;
  }

  .page_date {
    font-size: 18px;
    margin-left: 25px;
  }

  .page_horizontal_rule {
    height: 1px;
    width: 80vw;
    margin: 10px auto 50px auto;
    border-bottom: 5px solid $color_primary;
  }
}

// Blog wrapper 

.blog_post_wrapper {
  @include flexbox(column, flex-start, flex-start);
  margin: 100px auto;
  width: 50vw;
  @media (max-width: 450px) {
    margin-top: 100px;
    width: 90vw;
  }

  .post_title {
    font-size: 36px;
  }

  .post_date {
    font-size: 18px;
    margin-top: 10px;
    color: $color_paragraph;
  }

  .post_horizontal_rule {
    height: 1px;
    width: 50vw;
    margin: 10px auto 10px auto;
    border-bottom: 5px solid $color_primary;
    @media (max-width: 450px) {
      width: 90vw;
    }
  }

  .breadcrumb {
    color: $color_primary;
    padding: 0;
    font-size: 20px;
    margin: 30px 0 20px 0;
    background-color: #fff;
  }

  blockquote {
    margin-left: 0;
    
    p {
      font-size: $font_size_paragraph + 6px;
    }
  }

  p {
    margin-bottom: 50px;
  }
}
  
// Form 

#contact_form {
  @include flexbox(column, flex-start, flex-start);
  background-color: transparent;
  padding: 0.5rem 2rem;
  @media (max-width: 1325px) {
    width: 100%;
    align-items: flex-start;
    padding: 0;
  }
  @media (max-width: 750px) {
    margin-bottom: 100px;
  }
}

input {
  background-color: transparent;
  padding: 8px;
  font-size: 22px;
  font-weight: 200;
  color: $color_hover;
  width: 500px;
  max-width: 30rem;
  margin: 15px 0;
  border: 0;
  border-bottom: 2px solid $color_primary;
  outline: 0;
  letter-spacing: 1.5px;
  border-radius: 0;
  &:focus {
    outline: none;
    border-bottom : .1rem solid $color_hover;
  }
  &::placeholder {
    color: $color_hover;
    font-weight: 200;
  }
  @media (max-width: 1325px) {
    width: 70vw;
  } 
}
    
textarea {
  @extend input;
  height: 75px;
  @media (max-width: 1325px) {
    width: 70vw;
  }
}

.button_primary {
  max-width: 150px;
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 0;
  outline: 0;
  border-radius: $radius;
  background-color: $color_primary;
  color: $color_background;
}