// Home page

#home {
  @include flexbox(column, flex-start, center);
  background-color: darken($color_primary, 50%);
  min-height: 100vh;
  width: 100vw;
  padding-top: 100px;

  img {
    margin-bottom: 50px;
  }

  #menu {
    @include flexbox(row, space-around, center);
    width: 90vw;
    animation-duration: 2s;
    animation-name: slidein;
    animation-timing-function: ease;
    @media (max-width: 750px) {
      @include flexbox(column, flex-start, center);
      min-height: 100%;
    }
  }

  .box-1 {
    height: 300px;
    width: 25%;
    border: 20px solid darken($color_primary, 30%);
    background-color: darken($color_primary, 100%);
    color: $color_background;
    @include flexbox(column, center, center);
    @media (max-width: 750px) {
      width: 90vw;
      max-width: 400px;
      height: 200px;
      margin-bottom: 20px;
      border: 10px solid darken($color_primary, 30%);
      &:active {
      border: 10px solid $color_primary;
    }
    }
    &:active {
      border: 20px solid $color_primary;
    }

    h2, .box_title {
      color: $color_background;
      animation-name: fadein;
      animation-duration: 5s;
      animation-timing-function: ease;
      margin: 10%;
      text-align: center;
    }

    p {
      @extend .box_title;
      animation-duration: 8s;
    }

    &:hover {
      background-color: #111;
      border: 20px solid $color_primary;
      cursor: pointer;
    }
  }

  .box-2 {
    @extend .box-1;
    height: 400px;
    @media (max-width: 750px) {
      height: 200px;
    }
  }

  @include keyframes( fadein ) {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @include keyframes( slidein ) {
    from {
      margin-top: 25%;
      width: 300%; 
    }

    to {
      margin-top: 0;
      width: 90vw;
    }
  }
}

// Contact page 

#contact {
  min-height: 100vh;
  @include flexbox(row, space-around, center);
  background-color: rgba(0, 0, 0, .99);
  @media (max-width: 1325px) {
    @include flexbox(column, flex-start, flex-start);
  }

  .hero_wrapper {
    @include flexbox(column, center, flex-start);
    width: 50vw;
    margin-top: 40px;
    z-index: 1;
    @media (max-width: 1325px) {
      height: 30%;
      width: 75vw;
      margin-left: 10vw;
    }
    @media (max-width: 740px) {
      margin-top: 40px;
    }
    @media (max-width: 450px) {
      width: 70vw;
      margin-left: 10vw;
    }

    h1 {
      color: #f9f9f9;
      margin: 0 0 20px 20%;
      width: 40vw;
      max-width: 500px;
      @media (max-width: 1325px) {
        width: 100%;
        margin: 175px 0 0 0;
      }
      @media (max-width: 750px) {
        margin-top: 50px;
      }
      @media (max-width: 750px) {
        font-size: 28px;
              line-height: 35px;
      }
    }

    p {
      @extend h1;
      color: lighten( $color_paragraph, 35%);
      font-size: $font_size_paragraph + 6px;
      width: 75%;
      line-height: 25px;
      @media (max-width: 1325px) {
        margin-top: 10px;
        font-size: 24px;
      }
      @media (max-width: 750px) {
        margin: 10px 0;
        font-size: 18px;
      }
    }
  } 
}

// About page

.social_media_links {
  margin: 20px 0;
  @include flexbox(row, flex-start, center);
  flex-wrap: wrap;

  img {
    height: 30px;
    margin-right: 20px;
  }
  
  button {
    margin-right: 20px;
  }
}

// Services page 

#services {

  blockquote {
    p {
      margin-bottom: auto;
    }
  }

  p {
    margin-bottom: 70px;
  }
}

// Work page

#experience {

  .work_project {
    @include flexbox(row, flex-start, flex-start);
    flex-wrap: wrap;
    margin-bottom: 50px;
    @media(max-width: 860px){
      flex-direction: column;
    }
    @media(max-width: 450px){
      align-items: flex-start;
    }
  }

  .description {
    @extend .work_project;
    @include flexbox(column, center, flex-start);
    width: 100%;
    margin-bottom: 0;
    @media(max-width: 860px){
      flex-direction: column;
      width: 80vw;
    }
  }

  .arrow {
    @extend .description;
    align-items: center;
    height: 175px;
    @media(max-width: 860px){
      display: none;
    }
    @media(min-width: 1999px){
      height: 275px;;
    }

    i {
      border: solid #111;
      border-width: 0 2px 2px 0;
      width: 50px;
      height: 50px;
      transform: rotate(45deg);
    }
  }

  iframe {
    box-shadow: 0 1px 9px #999;
    width: 100%;
    height: 500px;
    margin: 36px auto;
    @media (max-width: 750px) {
      display: none;
    }
  }

}

// Blog page

.blog_post_preview {
  margin: 50px 0;
  @media (max-width: 450px) {
    margin: 25px 0;
  }
  &:first-of-type {
    margin-top: 0;
  }

  h3 {
    font-size: 28px;
    line-height: 35px;
  }

  .post_preview_meta {
    margin: 10px 0;
    color: $color_paragraph - 20%;
  }

  p {
    margin: 20px 0 10px 0;
  }
}

// Blog post template 

.blog_post {
  p {
    margin-bottom: 35px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  blockquote p {
    font-size: 18px;
  }

  h3, h4 {
    font-size: 28px;
  }

  li {
    color: #444;
    font: 200 18px/30px sans-serif;
    margin-bottom: 20px;
  }

  pre.language-javascript, 
  pre.language-css, 
  pre.language-scss, 
  pre.language-reason {
    margin: 25px auto 50px auto;
    width: 80vw;
    max-width: 750px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;

    code {
      padding: 0;
    }
  }

  pre.language-css, 
  pre.language-scss {
    .token.operator, 
    .token.entity, 
    .token.url {
      color: $color_primary;
    }

    .token.string, 
    .token.char, 
    .token.attr-value, 
    .token.regex, 
    .token.variable {
      color: $color_primary;
    }

    .token.boolean, 
    .token.number, 
    .token.function {
      color:  lighten(rebeccapurple, 15%);
    }

    .token.keyword {
      color: $color_primary;
    }

    .token.comment {
      color: #888;
    }

    .token.selector {
      color: $color_primary;
    }


    .token.punctuation, 
    .token.property {
      color: rebeccapurple;
    }
  }

  pre.language-javascript,
  pre.language-reason {

    .token.operator, 
    .token.entity, 
    .token.url {
      color: #333;
    }

    .token.string, 
    .token.char, 
    .token.attr-value, 
    .token.regex, 
    .token.variable, 
    .token.property {
      color: $color_primary;
    }

    .token.boolean, 
    .token.number, 
    .token.function,
    .token.class-name {
      color:  lighten(rebeccapurple, 15%);
    }

    .token.keyword {
      color: darken(palevioletred, 15%);
    }

    .token.comment {
      color: #888;
    }


    .token.punctuation {
      color: #666;
    }
  }
  

  code {
    font-size: 14px;
    font-weight: 400;
    font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
    line-height: 20px;
    white-space: pre-wrap;
    word-break: break-word;
    color: #555;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
  }

 
}

.breadcrumb {
  background-color: $color_background;
  color: $color_primary;
  margin: 40px 0 10px 0;
  padding: 0;
}

// Resume page

#resume {
  h3 {
    margin: 20px 0;
  }

  h2:nth-of-type(3) {
    margin-bottom: 40px;
  }

  section > p:nth-child(2) {
    border-left: 5px solid $color_secondary - 70%;
    padding-left: 10px;
    margin-bottom: 30px;
  }

  p:nth-child(5) {
    @media (max-width: 450px) {
      display: none;
    }
  }

  a strong {
    color: $color_primary;
    font-size: $font_size_title - 24px;
  }

  ul {
    margin-bottom: 50px;
  }
}

// Thank you page

#thank_you {
  .navigation_buttons {
    margin-top: 25px;
    width: 100%;
    @include flexbox(row, space-between, center);
  }
}