body {
  background: #fff;
  padding: 0;
  margin: 0;
  font: 18px 'Roboto', sans-serif;
  color: #333;
  box-sizing: border-box;
}

p {
  color: #555;
  line-height: 30px;
}

a {
  cursor: pointer;
  color: cornflowerblue;
  border-bottom: 2px solid transparent;
}

a:hover {
  border-bottom: 2px solid cornflowerblue;
}


iframe {
  width: 80vw;
  height: 80vh;
  margin: 2rem auto;
  box - shadow: 0 1px 9px #999;
}

input:focus,
textarea:focus {
  outline: none;
  border-bottom : .1rem solid #eee;
}

input:placeholder,
textarea:placeholder {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
 } 

button {
  max-width: 100px;
  border: 0;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 18px;
}